*.iml
*.eggs
*.mat
*.pyc
*.so
*.swp
*.lib
*.o
*.npy
*.log
*.nii
*.nii.gz
*.png
*.txt
*.zip
*.pkl

data

brainiak.egg-info
build
.*cache
.coverage*
coverage.xml
dist
docs/*.rst
examples/data
htmlcov
.idea
.ipynb_checkpoints
junit-*.xml
__pycache__
.DS_Store
__MACOSX

brainiak/fcma/cython_blas.c
brainiak/eventseg/_utils.c
examples/fcma/face_scene/
