*.iml
*.eggs
*.pyc
*.so
*.swp
*.lib
*.o
*.npy
!tests/fcma/data/*.npy
*.log
*.nii.gz
!tests/fcma/data/*.nii.gz
*.zip
*.pkl

brainiak.egg-info
build
.cache
.coverage
coverage.xml
dist
docs/*.rst
examples/data
htmlcov
.idea
.ipynb_checkpoints
junit-*.xml
__pycache__
.DS_Store
__MACOSX

brainiak/fcma/cython_blas.c
brainiak/eventseg/_utils.c
brainiak/examples/fcma/face_scene/
