*.iml
*.eggs
*.pyc
*.so
*.swp
*.lib
*.o
*.npy
*.log
*.nii.gz
*.pkl

brainiak.egg-info
build
.cache
.coverage
coverage.xml
dist
docs/*.rst
examples/data
htmlcov
.idea
.ipynb_checkpoints
junit-*.xml
__pycache__
.DS_Store

brainiak/fcma/cython_blas.c
brainiak/eventseg/_utils.c
