coverage
flake8
flake8-print
mypy
myst-nb
restructuredtext-lint
setuptools_scm
sphinx
sphinx_rtd_theme
towncrier

# testing
# Also add to .conda/meta.yaml
pytest
numdifftools

# examples
matplotlib
testbook
