-e .  # Installing BrainIAK here ensures no requirement conflict.
coverage
flake8
flake8-print
mypy
restructuredtext-lint
setuptools_scm
sphinx<2.3  # Pending release of https://github.com/sphinx-doc/sphinx/pull/6987
sphinx_rtd_theme
towncrier

# testing
# Also add to .conda/meta.yaml
pytest
numdifftools
