testbook
brainiak
nilearn
nxviz<=0.6.3
timecorr
seaborn
holoviews
pyOpenSSL
awscli
bcrypt
indexed_gzip
inflect
ipython
jupyter
mypy
nibabel
nilearn
nodejs
numpy
pydicom
requests
rpyc
scikit-learn
scipy
toml
tornado
websocket-client
wsaccel
inotify
pybids
watchdog
